[submodule "SympleEditor/vendor/glfw"]
	path = SympleEditor/vendor/glfw
	url = https://github.com/TeddyTelanoff/glfw
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
